<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Enter New Password</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-light" style="background-color: #A32A5F;">
    <div class="container">
      <a class="navbar-brand" href="https://vetwiz.app">
        <img src="https://vetwiz.app/images/vwlogo_white.png" alt="" width="90" height="24">
      </a>
    </div>
  </nav>
  <div style="display: flex;  width: 100%; height: 100%; justify-content: center;  align-items: center; flex-direction: column">
    <h2 style="text-align: center; font-weight: bold">Hi, <%= name %> </h2>
    <h4 style="text-align: center;">A Password Reset was initiated</h4>
    <h4 style="text-align: center; font-weight: bold">Please enter your new Password below if you Initiated the process.</h4>
    <div style="align-self: center; width: 60%;">
      <form >
        <article >
          <p style="color: red; font-size: 12px;" id="password-error"></p>
          <p style="color:greenyellow; font-size: 14px;" id="password-success"></p>
        </article>
        <article class="form-group">
            <label for="password">New Password</label>
            <input class="form-control" type="password" name="password" id="password">
        </article>
        <article>
          <label for="confirmPassword">Confirm Password</label>
          <input class="form-control" type="password" name="confirmPassword" id="confirmPassword">
        </article>
        <input type="hidden" id="token" name="token" value="<%= token %>">
        <button class="btn btn-primary btn-lg" style="margin-top: 40px;" id="submit-btn" type="button" onclick="updatePasword()" >Update Password</button>
    </form>
    </div>
  </div>
    <script>
      function updatePasword() {
        let password = document.getElementById("password").value
        let confirmPassword = document.getElementById("confirmPassword").value
        const token = document.getElementById("token").value
        if (password.length < 4) {
          document.getElementById("password-error").textContent = "Please enter minimum of 4 characters"
          return
        }
        if (password !== confirmPassword) {
          document.getElementById("password-error").textContent = "Password and Confirm Password fields must be equal"
          return
        }

        document.getElementById("submit-btn").textContent = "Sending"

        // const url = 'https://farm-aid-backend.herokuapp.com/api/users/updatePassword'
        const url = "https://vetwiz-server-alpha.herokuapp.com/api/v1/user/reset-password"

        var request = new Request(url, {
          method: 'PATCH',
          body: JSON.stringify({
            password
          }),
          headers: new Headers({
            'Content-Type': 'application/json',
            authorization: `Bearer ${token}`,
          })
        });

        fetch(request)
          .then(async (res) => {
            var resp = await res.json();
            console.log(resp)
            if (resp.status == 200) {

              document.getElementById("password-success").textContent = "Submit successful"
              document.getElementById('password').value = "";
              document.getElementById('confirmPassword').value = "";
              document.getElementById("submit-btn").textContent = "Update Password"
              window.location.href = "https://vetwiz.app";
            }
          }).catch((e) => {
            document.getElementById("submit-btn").textContent = "Update Password"
            document.getElementById("password-error").textContent = "Submit failed"
            console.log("Bad request...");
          });

      }
    </script>
</body>
</html>